<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
  </p>
</div>
