
  <div class="col-md blog-list">
    <h3>Current Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogPost/{{blog.id}}">{{blog.name}}</a></h4>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
        <p>{{blog.description}}</p>

      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div> --}}
    </div>
    {{/each}}
  </div>

</div>

<script src="./js/blog.js"></script>

