<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p>Created on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.descr}}
    </p>
  </div>
</div>
{{/each}}