<div class="row justify-content-around">
  <h2>Welcome, {{name}}!</h2>
</div>
</div>

<div class="row" id="blog-posts">
  <h2 class="title pb-4">Your posts</h2>
</div>
  <div>
    {{#each blogs as |blog| }}
  {{!-- <div class="row mb-4 blog">
    <div class="col"> --}}
      <h2 class="bg-light"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
      <p>Created on {{format_date blog.date_created}}</p>
      <p>{{blog.description}}</p>
    </div>
  </div>
  {{/each}}


  